{%extends 'base.html'%}

{% block content %}
<h1>{{book.title}}</h1>
  {% for author in book.author.all  %}
    <p>
      <b>Автор:</b>
      <a href="">
        {{author.last_name}} {{author.firts_name}}
      </a>  
    </p>
  {% endfor %}
  {{book.bookinstance_set.count}}
  {% for copy in book.bookinstance_set.all %}
  <p class="{% if copy.status == 1%} text-success
  {%elif copy.status == 2%} text-danger
  {%else%} text-warning
  {%endif%}">
  {{copy.status}}
  {{copy.get_status_display}}
  </p>

  {% endfor %}
{% endblock  %}